
@import url(//db.onlinewebfonts.com/c/aef726001a07788d4c639a835fa10360?family=FF+Tisa);

@font-face {font-family: "FF Tisa";
  src: url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.eot"); src: url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.woff") format("woff"), url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.ttf")
  format("truetype"),
  url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.svg#FF Tisa")
  format("svg"); } 


/* Navbar */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #11698e;
  color: white;
}

.brand-title{
  font-size: 32px;
  margin: .5rem;
  font-weight: bold;
}

.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li{
  list-style: none;
  font-weight: bold;
}

.navbar-links li a{
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover{
  background-color: #19456b;
}

.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px){
  .toggle-button{
    display: flex;
  }

  .navbar-links{
    display: none;
    width: 100%;
  }

  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul{
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li{
    text-align: center;
  }

  .navbar-links li a{
    padding: .5rem, 1rem;
  }

  .navbar-links.active{
    display: flex;
  }

}

/* Overig */

*{
  box-sizing: border-box;
  font-family: 'FF Tisa', Times, serif;
}

body{
  margin: 0;
  padding: 0;
}

strong {
  color: #16c79a;
}

#intro{
  text-align: center;
  margin: 8px,8px;
}

#banner-image{
  width: 100%;
  height: auto;        
  background-size: cover;
}

footer {
  background-color: #11698e;
  color: white;
  text-align: center;
  position:relative;
  margin: 0;
  width:100%;
  height: 100%;
}

#author-footer-text{
  font-size: 12px;
}

#benito-affiche{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

/* Footer Images */

#facebook-image{
  padding-top: 8px;
  width: auto;
  height: 48px;
}

#youtube-image{
  padding-top: 8px;
  width: auto;
  height: 48px;
}

#email-image{
  padding-top: 8px;
  width: auto;
  height: 48px;
}

#instagram-image{
  padding-top: 8px;
  width: auto;
  height: 48px;
}

#vwb-image{
  padding-top: 8px;
  width: auto;
  height: 48px;
}